body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar .nav-link {
  font-size: 15px;
  padding: 10px 15px;
  transition: background-color 0.2s ease;
  color: white;
}

.sidebar .nav-link:hover {
  background-color: #2caefc !important;
  color: #fff !important;
}

.sidebar input::placeholder {
  color: #ccc;
}

/* Dropdown personalizado */
.sidebar .dropdown-menu {
  background-color: #1d1d1d;
  border: none;
  padding-left: 0;
}

.sidebar .dropdown-item {
  font-size: 14px;
  padding: 8px 30px;
  color: white;
  transition: background-color 0.2s ease;
}

.sidebar .dropdown-item:hover {
  background-color: #2caefc;
  color: #fff;
}

.sidebar .dropdown-toggle:focus {
  box-shadow: none;
}

/* Contenedor visible (ajustado a ancho específico) */
.csv-scroll-container {
  max-height: 500px;
  max-width: 1000px; /* <-- Aquí controlas el tamaño horizontal */
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  background-color: #fff;
}

/* Contenedor interno para evitar que la tabla se desborde */
.csv-scroll-inner {
  width: max-content; /* permite que la tabla fluya horizontalmente si es más grande */
}

/* Estilo adicional para celdas */
.table td,
.table th {
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}



thead.sticky-top th {
  background-color: #f8f9fa;  /* color claro del encabezado */
  position: sticky;
  top: 0;
  z-index: 1;
}

