<!-- Header fijo -->
<header class="header">
  <div class="logo-container">
    <img
      src="https://static.wixstatic.com/media/d34cc5_6396eedf64664d588f8e1e62035896af~mv2.png"
      alt="Logo DANU Analítica"
      class="logo"
    />
  </div>

  <nav class="nav">
  <a routerLink="/home" routerLinkActive="active">Inicio</a>
  <a routerLink="/resultados" routerLinkActive="active">Resultados</a>
  </nav>

</header>

<!-- Aquí cambia el contenido de cada ruta -->
<router-outlet></router-outlet>
